{% extends 'app/base.html' %}

{% load static %}

{% block css %}
{% endblock %}

{% block contenido %}

    <!-- start slider section -->
    <div class="slider_section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div id="main_slider" class="carousel vert slide" data-ride="carousel" data-interval="5000">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="slider_cont">
                                                <h3>Pronto<br>Nueva app Mobile</h3>
                                                <p>Nueva app empresarial la cual podra realizar sus cosas mas chill</p>
                                                <a class="main_bt_border" href="#">Pre Registro</a>
                                            </div>
                                        </div>
                                        <div class="col-md-7 full text_align_center">
                                            <div class="slider_image">
                                                <img class="img-responsive" src="{% static 'app/images/pronto.jpg' %}" alt="#" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="slider_cont">
                                                <h3>Una empresa es como un<br>enorme reloj</h3>
                                                <p>debido a esto, todos los engranajes y piezas se ajsutan, revisa aqui si seras despedido</p>
                                                <a class="main_bt_border" href="#">Saber Más</a>
                                            </div>
                                        </div>
                                        <div class="col-md-7 full text_align_center">
                                            <div class="slider_image">
                                                <img class="img-responsive" src="{% static 'app/images/reloj.jpg' %}" alt="#" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
                                <i class="fa fa-angle-up"></i>
                            </a>
                            <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
                                <i class="fa fa-angle-down"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end slider section -->

<!-- section -->
<section id="menu">
<section class="resip_section">
    <div class="container">
        <div class="row">
     <div class="col-md-12">
   <div class="ourheading">
<h2>Menus de la semana</h2>
</div>
</div>    
<div class="container">
<div class="row">
    <div class="col-md-12">
        <div class="owl-carousel owl-theme">

            <div class="item">
                <div class="product_blog_img">
                    <img src="{% static 'app/images/Carla_carla.jpg' %}" alt="#" />
                </div>
                <div class="product_blog_cont">
                    <h3>Pure con vienesas</h3>
                    <h4><span class="theme_color">Almuerzo</span></h4>
                </div>
            </div>
            <div class="item">
                <div class="product_blog_img">
                    <img src="{% static 'app/images/Elie_elie.jpg' %}" alt="#" />
                </div>
                <div class="product_blog_cont">
                    <h3>Porotos granados</h3>
                    <h4><span class="theme_color">Almuerzo</span></h4>
                </div>
            </div>
            <div class="item">
                <div class="product_blog_img">
                    <img src="{% static 'app/images/Hause_hause.jpg' %}" alt="#" />
                </div>
                <div class="product_blog_cont">
                    <h3>Churrasco Italiano</h3>
                    <h4><span class="theme_color">Cena</span></h4>
                </div>
            </div>
            <div class="item">
                <div class="product_blog_img">
                    <img src="{% static 'app/images/Jordi_jordi.jpg' %}" alt="#" />
                </div>
                <div class="product_blog_cont">
                    <h3>12 empanadas de queso</h3>
                    <h4><span class="theme_color">Cena-almuerzo-desayuno </span></h4>
                </div>
            </div>
            <div class="item">
                <div class="product_blog_img">
                    <img src="{% static 'app/images/Katie_katie.jpg' %}" alt="#" />
                </div>
                <div class="product_blog_cont">
                    <h3>Cafe con aliado</h3>
                    <h4><span class="theme_color">Desayuno -  cena</span></h4>
                </div>
            </div>
            <div class="item">
                <div class="product_blog_img">
                    <img src="{% static 'app/images/Mario_mario.jpg' %}" alt="#" />
                </div>
                <div class="product_blog_cont">
                    <h3>Cafe con trozo de pastel</h3>
                    <h4><span class="theme_color">Desayuno y Cena</span></h4>
                </div>
            </div>
            <div class="item">
                <div class="product_blog_img">
                    <img src="{% static 'app/images/Pedro_pedro.jpg' %}" alt="#" />
                </div>
                <div class="product_blog_cont">
                    <h3>Cafe con medialunas</h3>
                    <h4><span class="theme_color">Desayuno y Cena</span></h4>
                </div>
            </div>
            <div class="item">
                <div class="product_blog_img">
                    <img src="{% static 'app/images/Pela_pela.jpg' %}" alt="#" />
                </div>
                <div class="product_blog_cont">
                    <h3>Fideos con salsa</h3>
                    <h4><span class="theme_color">Almuerzo</span></h4>
                </div>
            </div>
            <div class="item">
                <div class="product_blog_img">
                    <img src="{% static 'app/images/Salas_salas.jpg' %}" alt="#" />
                </div>
                <div class="product_blog_cont">
                    <h3>Arroz con carne</h3>
                    <h4><span class="theme_color">Almuerzo</span></h4>
                </div>
            </div>
            <div class="item">
                <div class="product_blog_img">
                    <img src="{% static 'app/images/Vacu_vacu.jpg' %}" alt="#" />
                </div>
                <div class="product_blog_cont">
                    <h3>Salchipapas</h3>
                    <h4><span class="theme_color">Almuerzo y Cena</span></h4>
                </div>
            </div>

        </div>
    </div>
</div>
</div>
</div>
</div>
</section>
<div class="bg_bg" >
</section>

<!-- about -->
    <div class="about">
        <div class="container">
          <div class="row">
             <div class="col-md-12">
                 <div class="title">
                    <i><img src="{% static 'app/images/title.png' %}" alt="#"/></i>
                    <h2>Pronto nuevos Totems</h2>
                    <span>Nuestros altos cargos tomaron la iniciativa idea de generar totems 
                       <br>para optimizar los tiempos a la hora de retirar tickets
                    </span>
                 </div>
              </div>
           </div>
           <div class="row">
             <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                 <div class="about_box">
                     <h3>Sobre el progreso</h3>
                     <p>Nuestro equipo de informaticos esta trabajando en el desarrollo del programa que utilizaran los nuevos totems para automotizar el retiro de tickets</p>
                     <a href="#">Saber mas <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                 </div>
             </div>
              <div class="col-xl-5 col-lg-5 col-md-10 col-sm-12 about_img_boxpdnt">
                 <div class="about_img">
                     <figure><img src="{% static 'app/images/about-img.jpg' %}" alt="#/"></figure>
                 </div>
             </div>      
           </div> 
        </div>
        </div>
        <!-- end about -->


<!-- blog -->
<div class="blog">
<div class="container">
<div class="row">
  <div class="col-md-12">
    <div class="title">
      <i><img src="{% static 'app/images/title.png' %}" alt="#"/></i>
      <h2>Ultimas Novedades</h2>
      <span>No todo es trabajo</span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mar_bottom">
    <div class="blog_box">
      <div class="blog_img_box">
        <figure><img src="{% static 'app/images/blog_img1.png' %}" alt="#"/>
         <span>01 may 2021</span>
        </figure>
      </div>
      <h3>Reparacion de baños</h3>
      <p>Luego de una ardua y dura jornada se logro reparar el baño de las instalaciones </p>
    </div>
  </div>
   <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mar_bottom">
    <div class="blog_box">
      <div class="blog_img_box">
        <figure><img src="{% static 'app/images/blog_img2.png' %}" alt="#"/>
         <span>19 mar 2021</span>
        </figure>
      </div>
      <h3>Dias libres</h3>
      <p>Se otorgaran dias libres los siguientes 2 dias debido a asuntos de gerencia.</p>
    </div>
  </div>
   <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
    <div class="blog_box">
      <div class="blog_img_box">
        <figure><img src="{% static 'app/images/blog_img3.png' %}" alt="#"/>
         <span>12 mar 2021</span>
        </figure>
      </div>
      <h3>Dia de Pizza</h3>
      <p>A todos los empleados y empleadas se les entregara 5 trozos de pizza para el almuerzo o cena (depende del turno)</p>
    </div>
  </div>
</div>
</div>
</div>
<!-- end blog -->


{% endblock %}

{% block js %}
{% endblock %}