{% extends 'app/base.html' %}


{% block contenido %}
<br>
<br>
<br>
<br>
<br>
<div class="card">
    <div class="card body">
        <h2>Listado de Usuarios</h2>
        <br>
        <table class="table table-striped table-hover table-responsive-small">
            <tr>
                
                <th>E-mail</th>
                <th>Rut</th>
                <th>Nombre</th>
                <th>Apellido P.</th>
                <th>Apellido M.</th>
                <th>Cargo</th>
                <th>Perfil</th>
                <th>Turno</th>
            </tr>

            {% for l in listado_usuario %}
            <tr>
                <td>{{ l.2 }}</td>
                <td>{{ l.10 }}</td>
                <td>{{ l.12 }}</td>
                <td>{{ l.13 }}</td>
                <td>{{ l.14 }}</td>
                <td>{{ l.15 }}</td>
                <td>{{ l.16}}</td>
                <td>{{ l.17 }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
