{% extends 'app/base.html' %}
{% load static %}

{% block css %}
{% endblock %}

{% block contenido %}

<fooetr>
    <div class="footer3">
        <div class="container-usuario">
            <div class="row">
                <div class="container-titulou">
                    <h2>Menu de la semana</h2> <br>
                <br><h4>Todos los turnos</h4> <br>
                </div>
                <div class="contenedor-menu">
                    <div class="main-menu">
                        <div class="caja">
                            <div>
                            <figure><img src="{% static 'app/images/Carla_carla.jpg' %}" alt="#"/> 
                            </div>
                            <h3>Pure con vienesa</h3>
                            <p>Almuerzo</p>
                        </div>

                        <div class="caja">
                            <div>
                            <figure><img src="{% static 'app/images/Elie_elie.jpg' %}" alt="#"/> 
                            </div>
                            <h3>Porotos granados</h3>
                            <p>Almuerzo</p>
                        </div>

                        <div class="caja">
                            <div>
                            <figure><img src="{% static 'app/images/Hause_hause.jpg' %}" alt="#"/> 
                            </div>
                            <h3>Churrasco Italiano</h3>
                            <p>Cena</p>
                        </div>

                        <div class="caja">
                            <div>
                            <figure><img src="{% static 'app/images/Jordi_jordi.jpg' %}" alt="#"/> 
                            </div>
                            <h3>12 empanadas de queso</h3>
                            <p>Cena - Almuerzo - Desayuno</p>
                        </div>

                        <div class="caja">
                            <div>
                            <figure><img src="{% static 'app/images/Katie_katie.jpg' %}" alt="#"/> 
                            </div>
                            <h3>Cafe con aliado</h3>
                            <p>Cena - Desayuno</p>
                        </div>

                        <div class="caja">
                            <div>
                            <figure><img src="{% static 'app/images/Mario_mario.jpg' %}" alt="#"/> 
                            </div>
                            <h3>Cafe con trozo de pastel</h3>
                            <p>Cena - Desayuno</p>
                        </div>

                        <div class="caja">
                            <div>
                            <figure><img src="{% static 'app/images/Pedro_pedro.jpg' %}" alt="#"/> 
                            </div>
                            <h3>Cafe con medialunas</h3>
                            <p>Cena - Desayuno</p>
                        </div>

                        <div class="caja">
                            <div>
                            <figure><img src="{% static 'app/images/Pela_pela.jpg' %}" alt="#"/> 
                            </div>
                            <h3>Fideos con salsa</h3>
                            <p>Almuerzo</p>
                        </div>

                        <div class="caja">
                            <div>
                            <figure><img src="{% static 'app/images/Salas_salas.jpg' %}" alt="#"/> 
                            </div>
                            <h3>Arroz con carne</h3>
                            <p>Almuerzo</p>
                        </div>

                        <div class="caja">
                            <div>
                            <figure><img src="{% static 'app/images/Vacu_vacu.jpg' %}" alt="#"/> 
                            </div>
                            <h3>Salchipapas</h3>
                            <p>Almuerzo - Cena - Desayuno</p>
                        </div>


                    
                    </div>

                </div>



                
            </div>
        </div>
    </div>

</fooetr>







{% endblock %}

{% block js %}
{% endblock %}